
body{
    font-size: 20px;
  
    background-color:lightblue;
    background-image: url("images/bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{

   
    


    


}

.container {
   
    
    height: 50px;
    
    

}

.logo {
   
    
    height: 50px;
   
    
    width: 40%;
    
    display: inline block;
    float: left;

}

.menu {
   
    
    height: 50px;
    
    width: 60%;
  
    float: left;

}

.menu ul li{
    
    
    border: none; 
    text-decoration: none;
    color: black;
    padding: 10px 19px;
    display: inline;
}
p{
    border: double;
    width: 60px;
    border-color: green;
    padding: 30px;
}